*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {

    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;


}

.navigation-bar {
    background-color: rgb(214, 208, 208);
    height: 100px;
    width: 1060px;
    
}

.header {
}

.btn-nav {
    display: inline-block;
    font-weight: 700;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:30px;
    font-family: 'Poppins', sans-serif;



}

.btn-nav:hover{
    background-color: red;
    color: white;
}


.nav-logo-section {

    /* display: inline-block;
    width: 10%;
    margin-left:0px; */
    float: left;

}

.nav-logo-img {
    height: 80px;
    width: 80px;
    margin-top:10px;
}

.btn-red{
   background-color: red;
   color: white;
}

.btn-red:hover{
    border: 3px solid white;
    background-color: white;
    color: red;
}


.nav-buttons {
    /* display: inline-block;
    width: 90%;
    margin-left: 0px; */
    float:right;
    
}

.banner{
    height: 680px;
    background-image: url("../images/bg-banner.png");
    background-repeat: no-repeat;
    background-size: 600px 500px;
    background-position-y: center;
   background-position-x: right;
}

.banner-title{
    color: lightblue;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    
}



.banner-description{
    color: rgb(90, 103, 105);
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.banner-img{
    width: 500px;
    height: auto;
    
    padding-top: 100px;
}

.btn-banner{
    display: inline-block;
    text-decoration: none;
}